<%= link_to "Manage Pages", admin_pages_path, :class => 'button icon back' %>
<%= link_to "View on Site", "#{@page.ancestor_path}#{@page.name}", :class => 'button icon forward' %>
<%= link_to "Edit Metadata", edit_admin_page_page_metadata_path(@page), :class => 'button icon edit' %>
<br />
<% form_remote_tag :url => admin_page_path(@page),
  :update => 'main',
  :method => :put,
  :complete => remote_function(
    :update => "item#{@page.parent_id}",
    :url => { :action => 'manage_tree', :parent_id => @page.parent_id, :tree_post_id => @post_id },
    :complete => 'refresh_visibility()'),
  :html => { 'name' => 'page_form' } do -%>
  <%= render :partial => 'form' %>
  <%
    # TODO: Clean up this button spaghetti 
  %>
  <% if @page.is_draft? %>
    <%= submit_tag 'Save as Draft' %>
  <% else %>
    <%= submit_tag 'Update' %>
    <% unless @page.is_published? %>
      <%= submit_tag 'Save as Draft' %>
    <% end %>
  <% end %>
  <% unless @page.is_published? %>
    <%= submit_tag "Submit for Review" %>
  <% end %>
  <% if current_user.can_publish? %>
    <%= submit_tag (@page.is_published? ? 'Unpublish' : 'Publish') %>
  <% end %>
<% end -%>
<div class='note'>
  If you're unsure about the Title / Full Title distiction, here goes:<br /><br />
  <ul>
    <li><em>Title</em> will be displayed in the browser's title bar along with the site name.</li>
    <li><em>Full Title</em> will be displayed at the top of the page, assuming in Advanced Options "Display on page?" is set to true.</li>
  </ul>
</div>

<h2>Plugins on this page</h2>
<ul id="page_plugins" class='page_plugins'>
  <% @page.page_plugins.each do |plugin| -%>
    <li>
      <%= link_to(plugin.module_type, edit_admin_page_plugin_path(plugin), :class => 'edit_page_plugin') -%> 
      <%= link_to("[up]",   move_up_admin_page_plugin_path(plugin)) %>
      <%= link_to("[down]", move_down_admin_page_plugin_path(plugin)) %>
      <%= link_to("[x]", admin_page_plugin_path(plugin), :confirm => 'Are you sure you want to remove this plugin from the page?', :method => :delete) -%> 
    </li>
  <% end -%>
</ul>
