<%= error_messages_for 'page' %>
<!--[form:page]-->
<div id="cms_form" style="display:block;">
  <%= form_heading "Name (URL)", text_field('page', 'name', 'onKeyUp' => "document.getElementById('name_preview').innerHTML = this.value.replace(/ /g, '_')") %>
	<span class='path'><b><%= @page.ancestor_path %><span id=name_preview><%= @page.name %></span></b></span><br/>
  <%= form_heading "Title", text_field('page', 'title') %>
  <%= form_heading "Full Title", text_field('page', 'full_title') %>
  <% if current_user.can_publish? %>
    <%= form_heading 'Published', '<select id="page_published" name="page[published]">' + options_for_select([true, false], @page.published) + '</select>' %>
  <% end %>
	<div class=advanced_options>
  <% toggle_content_box "Advanced Options" do %>
    <table class='form-table'>
      <%= form_row '<label for="page_display_title" class="advanced_options">Displayed on page</label>', '<select id="page_display_title" name="page[display_title]">' + options_for_select([true, false], @page.display_title) + '</select>' %>
      <%= form_row '<label for="page_show_sub_menu" class="advanced_options">Display Sub-menu</label> ', '<select id="page_show_sub_menu" name="page[show_sub_menu]">' + options_for_select([true, false], @page.show_sub_menu) + '</select>' %>
      <%= form_row '<label for="page_linked" class="advanced_options">Linked</label>', '<select id="page_linked" name="page[linked]">' + options_for_select([true, false], @page.linked) + '</select>' %>
    </table>
    <br />
  <% end %>
</div><!-- end float left-->
<!--[eoform:page]-->
