<%= error_messages_for 'page' %>
<!--[form:page]-->
<div class='fullwidth'>
  <table class='form-table' id='page-table'> 
    <%= form_row "Name (URL)", text_field('page', 'name', 'onKeyUp' => "document.getElementById('name_preview').innerHTML = this.value.replace(/ /g, '_')") + "<span class='path'><b>#{@page.ancestor_path}<span id=name_preview>#{@page.name}</span></b></span><br/>" %>
    <%= form_row "Title", text_field('page', 'title') %>
    <%= form_row "Full Title", text_field('page', 'full_title') %>
    <%= form_row "Publish On", calendar_date_select_tag('page[publish_at]', Time.now.strftime("%Y-%m-%d %I:%M %P"), :time => true, :minute_interval => 5) %>
    <%= form_row "Status", @page.status, :field_options => { :id => 'status' } %>
  </table>
  <div class="advanced_options">
    <% toggle_content_box "Advanced Options" do %>
      <table class='form-table'>
        <%= form_row '<label for="page_display_title" class="advanced_options">Displayed on page</label>', '<select id="page_display_title" name="page[display_title]">' + options_for_select([true, false], @page.display_title) + '</select>' %>
        <%= form_row '<label for="page_show_sub_menu" class="advanced_options">Display Sub-menu</label> ', '<select id="page_show_sub_menu" name="page[show_sub_menu]">' + options_for_select([true, false], @page.show_sub_menu) + '</select>' %>
        <%= form_row '<label for="page_linked" class="advanced_options">Linked</label>', '<select id="page_linked" name="page[linked]">' + options_for_select([true, false], @page.linked) + '</select>' %>
      </table>
      <br />
    <% end %>
  </div>
</div>
<!--[eoform:page]-->
