<% id = rand(Time.now.to_i) -%>
<div class='page_controls'>
  <ul>
    <li class="direction up"><%= link_to '&uarr;', shift_order_admin_page_path(:id => page.id, :shift => -1), {:style => "text-decoration:none"} -%></li>
    <li class="direction down"><%= link_to '&darr;', shift_order_admin_page_path(:id => page.id, :shift => 1), {:style => "text-decoration:none"} -%></li>
    <li><%= link_to("X", admin_page_path(page), :method => :delete, :confirm => 'Are you sure?  This will delete this page permanently and all sub-pages will be orphaned!') -%></li>
    <li>
      <ul id='dropdown-<%= id -%>' class='dropdown'>
        <li>
          Add Page
          <ul>
            <% Ansuz::PluginManagerInstance.page_types.each do |name, modules| -%>
              <li><%= link_to("Add #{name}", new_admin_page_path(:parent_id => page.id, :page_plugins => modules)) -%></li>
            <% end -%>
            <li class='clear'></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <div class='clear'></div>
</div>
<script type='text/javascript'>
  jQuery(document).ready(function(){
    jQuery("ul#dropdown-<%= id -%>").clickMenu();
  })
</script>
