<%= title "Edit Page: #{@page}" -%>

<% content_for :sidebar do -%>
  <% form_remote_tag :url => admin_page_path(@page),
    :update => 'main',
    :method => :put,
    :complete => remote_function(
      :update => "item#{@page.parent_id}",
      :url => { :action => 'manage_tree', :parent_id => @page.parent_id, :tree_post_id => @post_id },
      :complete => 'refresh_visibility()'),
    :html => { 'name' => 'page_form' } do -%>
    <%= render :partial => 'form' %>
    <%= submit_tag 'Update', :class => 'submit' -%>
  <% end -%>

  <h2>Plugins on this page</h2>
  <ul id="page_plugins" class='page_plugins'>
    <% @page.page_plugins.each do |plugin| -%>
      <li>
        <%= link_to(plugin.module_type, edit_admin_page_plugin_path(plugin), :class => 'edit_page_plugin') -%> 
        <%= link_to("[x]", admin_page_plugin_path(plugin), :confirm => 'Are you sure you want to remove this plugin from the page?', :method => :delete) -%> 
      </li>
    <% end -%>
  </ul>
  <%= link_to "Add Plugin", new_admin_page_plugin_path(:page_id => @page.id) -%>
<% end -%>

<% if @page.display_title %>
  <h2><%= @page.full_title %></h2>
<% end %>

<div id='page-plugins-tabs'>
  <ul>
    <% @page.page_plugins.each do |plugin| -%>
      <li><%= link_to(content_tag(:span, plugin.pretty_module_type), "#page-plugin-#{plugin.id}", :class => 'edit_page_plugin') -%></li>
    <% end -%>
    <li><%= link_to content_tag(:span, "Add Plugin"), new_admin_page_plugin_path(:page_id => @page.id) -%></li>
  </ul>
  <div class='clear'></div>
  <% if @page.page_plugins.any? -%>
    <% @page.page_plugins.each do |plugin| -%>
      <div id='page-plugin-<%= plugin.id -%>'>
        <% if plugin.module_class.respond_to?(:admin_partial) -%>
          <%= render :partial => plugin.module_class.admin_partial, :locals => { :plugin_module => plugin.module } -%>
        <% else -%>
          <%= render :partial => plugin.module_class.view_partial, :locals => { :plugin_module => plugin.module } -%>
        <% end -%>
      </div>
    <% end -%>
  <% end -%>
</div>

<script type='text/javascript'>
  jQuery('#page-plugins-tabs').tabs();
</script>
