<h1 style="text-align:center;">Create a New Page</h1>
<% form_tag admin_pages_path, :html => { 'name' => 'page_form' } do %>
	<%= hidden_field 'page', 'parent_id' %>
	<%= hidden_field 'page', 'page_order' %>
	<%= render :partial => 'form' %>
  <% params[:page_plugins].each do |page_plugin| -%>
    <%= hidden_field_tag "page_plugins[]", page_plugin -%>
  <% end -%>
	<%= submit_tag 'Create', :class => 'submit' %>
<% end -%>
