<script type="text/javascript">
  <!-- // JavaScript code for dynamic drop down
  var curID = ""
  function delayMontre(id) {
    curID = id
    setTimeout('montre("'+id+'")', 350);
  }
  function montre(id) {
    if (curID!=id) {
	return;
    }
    var d = document.getElementById(id);
      for (var i = 1; i<=20; i++) {
	    if (document.getElementById('smenu'+i)) {document.getElementById('smenu'+i).style.display='none';}
	      }
      if (d) {d.style.display='block';}
  }
//-->
</script>
<div id="navigation"> <%# Open DIV for top level Navigation %>
  <%  
  i=0
  @topNav.each do |page| # Itterate through top level navigation: root and its sub-pages
    has_child = @topNavChildren[page]!=nil # Determines if this navigation link has sub-links
    i+=1 # Number of current link (for DHTML purposes)
    url="/"+page.name+"/" # URL for current link
    onMouseCode = (has_child)? "onmouseover=\"javascript:delayMontre('smenu#{ i }')\" onmouseout=\"javascript:delayMontre('')\"": ""
  %>
  <dl>
    <dt <%= onMouseCode %>><%= link_to page.title, url %></dt> <%# Open DL, DT (with onmouseover) and the link %>
    <% if has_child  # If has sub-menu
    %><dd id="smenu<%=i.to_s%>" <%= onMouseCode %>> <%# Start sub-menu %>
      <ul>
     <% @topNavChildren[page].each do |child| # Itterate through sub-pages
           subUrl = url+child.name+"/" %> 
     <li><%= link_to child.title, subUrl  %></li>  <%# Link for each sub page %>
     <% end  # End sub-page itteration %>
      </ul>
   </dd>
   <% end  # End sub-page %>
 </dl>
<% end  # End navigation itteration %> 
</div> <%# Close Div for navigation menu %>
