<%= title "Edit Site Settings" -%>
<% content_for :sidebar do -%>
  <%= link_to "View Site Settings", admin_site_settings_path, :class => 'button icon back' %>
  <div class='note'>
    These are general settings for your site.
  </div>
<% end -%>

<% form_for @settings, :url => admin_site_settings_path do |f| %>
  <div class='fullwidth'>
    <table class='form-table'>
      <%= form_row "Site Title", f.text_field(:site_title) %>
      <%= form_row "Show in-line edit links?", f.check_box(:show_inline_edit_links) %>
      <%= form_row "Custom CSS", f.text_area(:custom_css) %>
    </table>
  </div>
  <br />
  <%= submit_tag "Update Site Settings" %> or <%= link_to "Cancel", admin_site_settings_path %>
<% end %>
