<!-- Generated Using Ansuz CMS -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Ansuz CMS: Admin</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="description" content="Ansuz Content Management System" />
  	<meta name="keywords" content="Ansuz Content Management System" />
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon"          href="favicon.ico" type="image/vnd.microsoft.icon" />
    <%= stylesheet_link_tag 'reset-fonts-grids' %>
	  <%= stylesheet_link_tag 'sprite' %>
	  <%= stylesheet_link_tag 'base' %>
    <%= stylesheet_link_tag 'admin' %>
    <%= javascript_include_tag :defaults, 'jquery', 'jQmodal', 'jquery.growl.js' %>
    <%= javascript_include_tag 'show_and_hide' %>
    <%= javascript_include_tag 'fckeditor/fckeditor' %>
    <!--[if lt IE 7.]><%= javascript_include_tag 'pngfix.js' %><![endif]-->
  </head>
  <body>
    <div id='header'>
      <h1>
        <span class='logo'></span>
        <span>Ansuz CMS: Admin [ Currently Editing: <b><%= current_database %></b> ]</span>
      </h1>
    </div>
    <div id="doc2" class="yui-t7">
      <%= render :partial => "/page_admin/tabs" %>
      <div id="bd">
        <div class="yui-g">
          <% if flash[:message] -%>
            <div id="message"><%= flash[:message] %></div> <!-- end .message -->
          <% end -%>
          <%= @content_for_layout %>
        </div>
      </div>
      <div id="ft">Add a Plugin</div>
    </div>
  </body>
</html>